.gridcont {  display: grid;
    grid-template-columns: 1.2fr repeat(2, 0.9fr);
    grid-template-rows: 1fr 0.9fr 1.1fr;
    gap: 19px 19px;
    grid-auto-flow: row;
}

.Login-area { grid-area: 1 / 1 / 4 / 2; }

.Welcome { grid-area: 1 / 2 / 2 / 4; }

.Icon { grid-area: 2 / 2 / 3 / 3; }

.Girl { grid-area: 3 / 2 / 4 / 3; }

.Evolution { grid-area: 2 / 3 / 4 / 4; }
