.content-shop {
  display: grid;
  grid-template-columns: 0.5fr 1.5fr;
  grid-template-rows: repeat(2, 1fr);
  gap: 0px 50px;
}
.items {
  grid-area: 1 / 2 / 3 / 3;
}
.filter {
  grid-area: 1 / 1 / 3 / 2;
}

.linear-title {
  background: linear-gradient(90deg, #167dff 0%, #4f9dff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
