.big-div {
  display: grid;
  grid-template-columns: 1.4fr repeat(2, 0.8fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 0px 0px;
  grid-auto-flow: row;
}

.welcome-roddan {
  grid-area: 1 / 1 / 3 / 2;
  border-radius: var(--units-unit-5, 20px);
  background: linear-gradient(
    41deg,
    #2f2f2f 30.76%,
    #323232 77.12%,
    #515151 77.12%
  );
}

.info-div {
  grid-area: 1 / 2 / 2 / 4;
  border-radius: var(--units-unit-5, 20px);
  background: #f1f1f1;
}

.contact-us {
  grid-area: 2 / 2 / 3 / 3;
  border-radius: var(--units-unit-5, 20px);
  background: var(
    --Linear-blue,
    linear-gradient(90deg, #167dff 0%, #4f9dff 100%)
  );
}

.our-blog {
  grid-area: 2 / 3 / 3 / 4;
  border-radius: var(--units-unit-5, 20px);
  background: var(
    --Linear-green,
    linear-gradient(89deg, #45bf55 0.53%, #5dda6d 99.58%)
  );
}
