.inputs {
  border-radius: 10px;
  border: 1px solid var(--Grey-300, #d8dde3);
  background: #fff;
  box-shadow: 0px 0px 4px 0px rgba(23, 25, 28, 0.05);
}

.form-area {
  border-radius: var(--units-unit-5, 20px);
  border: 1px solid var(--Linear-blue, #167dff);
  background: linear-gradient(65deg, #eff0f4 2.11%, #ececec 98.43%);
}

.getintouch {
  background: var(
    --Linear-blue,
    linear-gradient(90deg, #167dff 0%, #4f9dff 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
