@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Coolvetica";
  src: url("/fonts/CoolveticaCompressedRg-Regular400.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
